body {
  margin: 20px;
  padding: 10px;
  display: grid;
  box-sizing: content-box;
  background: #d2a65f;
}

.App {
  min-height: 80vh;
  border-radius: 10px;
  margin: 20px;
  background: #f2f1ec;
}
